@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 16ch;
  }
}
@keyframes typingTitle {
  0% {
    width: 0;
    visibility: visible;
  }
  100% {
    width: 13ch;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes floating {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}
.centerItems, #menu div.menu__icon, #menu div.menu__logo {
  display: grid;
  place-items: center;
}

.animationRotate {
  animation: rotate 2s 3s;
}

#menu {
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 60px;
  min-width: 360px;
  max-width: 1400px;
  padding: 0 20px;
  transition: all 0.5s linear;
  text-transform: uppercase;
}

#menu div.menu__logo {
  font-size: 8px;
  letter-spacing: 5px;
}
#menu div.menu__logo a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}
#menu div.menu__logo a span.highLetter {
  display: inline-block;
  margin: 0 5px;
  color: #fec2eb;
}

#menu div.menu__icon i#iconOpenMenu {
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}

#menu div#menu__container {
  position: absolute;
  top: 0;
  right: -100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 200;
  width: 100%;
  height: 100vh;
  padding: 40px;
  font-size: 18px;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 2px;
  font-weight: 800;
  transition: right 0.4s linear;
  background-color: #35283c;
}
#menu div#menu__container i#iconCloseMenu {
  color: rgba(255, 255, 255, 0.9);
  align-self: flex-end;
}

#menu div#menu__container > ul {
  list-style-type: none;
  margin-top: 180px;
  cursor: pointer;
}
#menu div#menu__container > ul li {
  margin: 38px 0;
}
#menu div#menu__container > ul li a {
  color: inherit;
  transition: color 1s;
  text-decoration: none;
}
#menu div#menu__container > ul li a:hover {
  color: #fec2eb;
}

@media only screen and (min-width: 600px) {
  #menu {
    padding: 0 40px;
  }
}
@media only screen and (min-width: 1024px) {
  #menu div.menu__icon {
    display: none;
  }

  #menu div.menu__logo {
    font-size: 13px;
  }

  #menu div#menu__container {
    left: 0;
    position: initial;
    flex-direction: row;
    width: auto;
    height: 100%;
    padding: 0;
    font-size: 13px;
    letter-spacing: 5px;
    font-weight: 400;
    background-color: transparent;
  }
  #menu div#menu__container i#iconCloseMenu {
    display: none;
  }

  #menu div#menu__container > ul {
    margin: 0;
  }
  #menu div#menu__container > ul li {
    margin: 0 7px;
    display: inline;
  }
}
section.section.about div.section__content div.containerFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.section.about div.section__content div.containerFlex div.photo {
  position: relative;
  width: 350px;
  margin-bottom: 40px;
  margin-top: 40px;
  padding: 0 40px;
  transform: scale(20%);
  transition: transform 0.6s ease-in;
}
section.section.about div.section__content div.containerFlex div.photo img {
  width: 100%;
}
section.section.about div.section__content div.containerFlex div.photo i {
  position: absolute;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  animation: floating 3s alternate infinite;
  transition: color 1s;
}
section.section.about div.section__content div.containerFlex div.photo i:nth-child(2) {
  top: 29%;
  right: 27%;
}
section.section.about div.section__content div.containerFlex div.photo i:nth-child(3) {
  top: 22%;
  right: 15%;
}
section.section.about div.section__content div.containerFlex div.photo i:hover {
  color: #2d9687;
}
section.section.about div.section__content div.containerFlex p {
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 300;
}
section.section.about div.section__content div.containerFlex p > span {
  color: #fec2eb;
  padding: 30px 0;
  display: block;
}
section.section.about div.section__content button {
  padding: 8px;
  font-family: inconsolata, monospace;
  color: white;
  background-color: transparent;
  border: 1px solid #c22085;
}
section.section.about div.section__content button:hover {
  border: 1.5px solid #2d9687;
  transition: border 1s;
}

section.section.projects div.section__content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
}
section.section.projects div.section__content h1.section__head {
  grid-column: 1/-1;
}
section.section.projects div.section__content div.section__end {
  grid-column: 1/-1;
}
section.section.projects div.section__content div.card {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  min-height: 500px;
  max-width: 380px;
  line-height: 1.8;
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto;
  border: 1.5px solid #c22085;
}
section.section.projects div.section__content div.card div.card__img {
  width: 100%;
  z-index: 50;
  height: 200px;
  overflow-y: hidden;
  border-radius: 10px;
}
section.section.projects div.section__content div.card div.card__img img {
  width: 100%;
  opacity: 0.8;
}
section.section.projects div.section__content div.card h2 {
  font-family: inconsolata, monospace;
  font-weight: 400;
  font-size: 20px;
  padding: 10px;
}
section.section.projects div.section__content div.card p {
  padding: 10px;
}
section.section.projects div.section__content div.card span.card__anchors {
  padding: 10px;
}
section.section.projects div.section__content div.card span.card__anchors a {
  color: #2d9687;
  cursor: pointer;
  margin-right: 24px;
}
section.section.projects div.section__content div.card div.card__iconsTech {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
section.section.projects div.section__content div.card div.card__iconsTech span.icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  background-color: #c22085;
}

.isActive {
  color: #c22085;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  min-width: 360px;
  max-width: 1400px;
  margin-bottom: 30px;
  line-height: 1.6;
  font-family: "open sans", sans-serif;
  color: white;
  background-color: #35283c;
}

div.banner {
  display: flex;
  flex-direction: column-reverse;
  height: 100vh;
  padding: 0 20px;
}
div.banner div.banner__content {
  margin-bottom: 80px;
}
div.banner div.banner__content h1.title {
  overflow: hidden;
  width: 0;
  display: block;
  white-space: nowrap;
  letter-spacing: 2px;
  line-height: 57px;
  font-size: 30px;
  font-weight: bold;
  color: #c22085;
  text-transform: uppercase;
  font-family: inconsolata, monospace;
  animation: typing 1s steps(16) forwards;
}
div.banner div.banner__content h1.title span.high {
  overflow: hidden;
  width: 0;
  display: block;
  white-space: nowrap;
  letter-spacing: 2px;
  line-height: 57px;
  font-size: 30px;
  font-weight: bold;
  color: #fec2eb;
  text-transform: uppercase;
  font-family: inconsolata, monospace;
  animation: typingTitle 0.6s 1s steps(13) forwards;
}
div.banner div.banner__content span.titleEnd {
  overflow: hidden;
  width: 0;
  display: block;
  white-space: nowrap;
  letter-spacing: 2px;
  line-height: 57px;
  font-size: 30px;
  font-weight: bold;
  color: #c22085;
  text-transform: uppercase;
  font-family: inconsolata, monospace;
  animation: typing 0.6s 1.6s steps(16) forwards;
}

.section {
  padding: 22px 20px;
}
.section div.section__content {
  /* pseudo elements */
}
.section div.section__content h1.section__head {
  font-family: inconsolata, monospace;
  color: #c22085;
  font-size: 1.3rem;
  line-height: 2.5;
  font-weight: 500;
  padding: 30px 0;
}
.section div.section__content h1.section__head::before {
  content: "<";
}
.section div.section__content h1.section__head::after {
  content: ">";
}
.section div.section__content div.section__end::after {
  display: block;
  content: "</" attr(data-text) ">";
  font-family: inconsolata, monospace;
  color: #c22085;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 30px 0;
}

/*  end */
section.section.contact .section__content > p:nth-child(2) {
  font-family: open sans;
  font-style: italic;
  font-weight: 200;
  font-size: 1.3rem;
  margin-bottom: 50px;
}
section.section.contact .section__content > p:nth-child(2) span.email {
  color: #2d9687;
}
section.section.contact .section__content form.contact__form {
  margin-top: 2rem;
  font-family: inconsolata, monospace;
}
section.section.contact .section__content form.contact__form label {
  display: none;
}
section.section.contact .section__content form.contact__form input[type=email], section.section.contact .section__content form.contact__form input[type=text], section.section.contact .section__content form.contact__form textarea {
  width: 100%;
  min-height: 50px;
  padding-left: 90;
  padding-left: 90px;
  font-family: inherit;
  color: #fec2eb;
  font-size: 1.3rem;
  background: none;
  background: transparent;
  outline: none;
  border: none;
  -webkit-appearance: none;
  border-bottom: 1px solid #c22085;
}
section.section.contact .section__content form.contact__form textarea {
  min-height: 100px;
}
section.section.contact .section__content form.contact__form span.stylesLabel {
  position: relative;
  left: 5px;
  top: -35px;
  display: inline-block;
}
section.section.contact .section__content form.contact__form textarea + span[data-text=Message] {
  top: -90px;
}
section.section.contact .section__content form.contact__form .stylesLabel::after {
  content: attr(data-text);
}
section.section.contact .section__content form.contact__form input[type=Submit] {
  padding: 8px 25px;
  font-family: inconsolata, monospace;
  color: white;
  background-color: transparent;
  border: 1px solid #c22085;
}
section.section.contact .section__content form.contact__form input[type=Submit]:hover {
  border: 1.5px solid #2d9687;
  transition: border 1s;
}

footer {
  padding: 0 20px;
  color: #fec2eb;
}
footer span > i {
  color: #c22085;
}

@media only screen and (min-width: 400px) {
  div.banner {
    padding: 0 30px;
  }

  section.section {
    padding: 0;
  }
  section.section div.section__content {
    max-width: 85%;
    margin: 0 auto;
  }

  footer {
    padding: 0;
    max-width: 85%;
    margin: 0 auto;
  }

  section.section.projects div.section__content div.card {
    padding: 20px;
  }
}
@media only screen and (min-width: 600px) {
  div.banner {
    padding: 0 40px;
  }

  section.section div.section__content {
    max-width: 76%;
  }

  footer {
    max-width: 76%;
  }

  section.section.projects {
    padding: 40px 0;
  }
  section.section.projects div.section__content div.card div.card__img {
    height: 250px;
  }
}
@media only screen and (min-width: 768px) {
  .section div.section__content h1.section__head {
    font-size: 1.5rem;
  }
  .section div.section__content div.section__end::after {
    font-size: 1.5rem;
  }

  section.section.projects div.section__content div.card:nth-child(even) {
    grid-column: 1/5;
  }
  section.section.projects div.section__content div.card:nth-child(odd) {
    grid-column: 3/7;
  }
}
@media only screen and (min-width: 1024px) {
  section.section.projects div.section__content div.card:nth-child(even) {
    grid-column: 1/4;
  }
  section.section.projects div.section__content div.card:nth-child(odd) {
    grid-column: 4/7;
  }

  section.section.about div.section__content div.containerFlex {
    flex-direction: row-reverse;
  }
  section.section.about div.section__content div.containerFlex div.photo {
    width: 50%;
    font-size: 1.3rem;
  }
  section.section.about div.section__content div.containerFlex p {
    width: 50%;
    font-size: 1.5rem;
    line-height: 30px;
  }
}
@media only screen and (min-width: 1200px) {
  section.section.projects div.section__content {
    gap: 3rem;
  }
  section.section.projects div.section__content div.card div.card__img {
    height: 200px;
  }
  section.section.projects div.section__content div.card:nth-child(even) {
    grid-column: 1/4;
  }
  section.section.projects div.section__content div.card:nth-child(odd) {
    grid-column: 4/7;
  }
}

/*# sourceMappingURL=styles.css.map */
