@use 'menu';
@use 'animations';
@use 'sec-about';
@use 'sec-project';


// // // var // // //
$font-Header:inconsolata,monospace;
$titles:rgba(194, 32, 133, 1);
// rgba(45, 150, 135, 1);
// rgba(255, 255, 255, 0.9)
//rgba(254, 194, 235, 1)
//rgba(233, 177, 113, 1)

// // // Extend/Inheritance// // //
// // // dynamic class // // //
.isActive{
    color:rgba(194, 32, 133, 1);
}


// // // Mixins // // //
@mixin titleBanner($highlight: #c22085){
    overflow: hidden;
    width: 0;
    display: block;
    white-space: nowrap;
    letter-spacing: 2px;
    line-height: 57px;
    font-size: 30px;
    font-weight: bold;
    color: $highlight;
    text-transform: uppercase;
    font-family: $font-Header;
    //border: 2px solid white;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    // overflow-x: hidden;
    min-width: 360px;
    max-width: 1400px;
    margin-bottom: 30px;
    line-height: 1.6;
    font-family:"open sans", sans-serif;
    color: white;
    background-color: rgba(53, 40, 60, 1);

}

div.banner{
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
    padding: 0 20px;
    div.banner__content{
        margin-bottom: 80px;
        //background-color: rgba(224, 224, 224, 0.479);
        //border: 2px solid rgb(8, 8, 8);
        h1.title{
            @include titleBanner;
            animation: typing 1s steps(16) forwards;
            //background-color: black;
            span.high{
                @include titleBanner($highlight: rgba(254, 194, 235, 1));
                animation: typingTitle .6s 1s steps(13) forwards;
                //background-color: rgba(161, 94, 224, 0.637);
            }
        }
        span.titleEnd{
            @include titleBanner;
            animation: typing .6s  1.6s steps(16) forwards;
            //background-color: rgba(10, 10, 10, 0.74);
        }
    }
}
// // //  Nesting - here common styles that all sections have // // //
.section{
    padding: 22px 20px;
    div.section__content{
        h1.section__head{
            font-family:$font-Header;
            color: $titles;
            font-size: 1.3rem;
            line-height: 2.5;
            font-weight: 500;
            padding: 30px 0;

        }
        /* pseudo elements */
        h1.section__head::before{
            content: "<";
        }
        h1.section__head::after{
            content: ">";
        }
        div.section__end::after{
            display: block;
            content: "</" attr(data-text) ">";
            font-family: $font-Header;
            color: $titles;
            font-size: 1.3rem;
            // line-height: 1;
            font-weight: 500;
            padding: 30px 0;

        }
    }
}

    /*  end */

// // // contact // // //
section.section.contact{
    .section__content{
        //background-color: rgba(8, 26, 24, 0.623);

        > p:nth-child(2){
            font-family: open sans;
            font-style: italic;
            font-weight: 200;
            font-size: 1.3rem;
            margin-bottom: 50px;

            span.email{
                //border-bottom: 1px solid rgba(45, 150, 135, 1);
                color:rgba(45, 150, 135, 1);
            }
        }
        form.contact__form{
            margin-top: 2rem;
            font-family: $font-Header;

            label{
                display: none;
            }
            input[type=email], input[type=text], textarea {
                width: 100%;
                min-height: 50px;
                padding-left: 90;
                padding-left: 90px;
                font-family: inherit;
                color: rgba(254, 194, 235, 1);
                font-size: 1.3rem;
                background: none;
                background: transparent;
                outline: none;
                border: none;
                -webkit-appearance: none;
                border-bottom: 1px solid rgba(194, 32, 133, 1);
                //background-color: rgba(10, 10, 10, 0.712);

            }
            textarea{
                min-height: 100px;

            }

            span.stylesLabel{
                position: relative;
                left: 5px;
                top: -35px;
                display: inline-block

            }
            textarea+span[data-text="Message"]{
                top:-90px;
            }
            .stylesLabel::after{
            content: attr(data-text);
            }
            input[type="Submit"]{
                padding: 8px 25px;
                font-family: $font-Header;
                color: white;
                background-color: transparent;
                border: 1px solid $titles;
                // transform: all 1s;

            }
            input[type="Submit"]:hover{
                border: 1.5px solid rgba(45, 150, 135, 1);
                transition: border 1s;
            }
        }
    }
}

// // // footer // // //
footer{
    padding: 0 20px;
    color:rgba(254, 194, 235, 1);
    span > i{
        color: rgba(194, 32, 133, 1);

    }
}
// // // @ medias // // //
@media only screen and(min-width:400px){
    div.banner{
        padding: 0 30px;
    }
    section.section{
        padding: 0;
        div.section__content{
            max-width: 85%;
            margin: 0 auto;
        }
    }
    footer{
        padding: 0;
        max-width: 85%;
        margin: 0 auto;
    }
    section.section.projects{
        div.section__content{
            div.card{
                padding: 20px;
            }
        }
    }

}

@media only screen and(min-width:600px){
    div.banner{
        padding: 0 40px;
    }

    section.section{
        div.section__content{
            max-width: 76%;
        }
    }
    footer{
        max-width: 76%;
    }
    section.section.projects{
        padding: 40px 0;
        div.section__content{
            div.card{
                div.card__img{
                    height: 250px;
                }
            }

        }
    }
}
@media only screen and(min-width:768px){
    .section{
        div.section__content{
            h1.section__head{
                font-size: 1.5rem;
            }
            div.section__end::after{
                font-size: 1.5rem;
            }
        }
    }

    section.section.projects{
        div.section__content{
            div.card:nth-child(even){
                grid-column: 1/5;
                }
            div.card:nth-child(odd){
                grid-column: 3/7;
            }
        }
    }

}
@media only screen and(min-width:1024px){
    section.section.projects{
        div.section__content{
            div.card:nth-child(even){
                grid-column: 1/4;
                }
            div.card:nth-child(odd){
                grid-column: 4/7;
            }
        }
    }
    section.section.about{
        div.section__content{
            div.containerFlex{
                flex-direction: row-reverse;
                div.photo{
                    width: 50%;
                    font-size: 1.3rem;
                }
                p{
                    width: 50%;
                    font-size: 1.5rem;
                    line-height: 30px;
                }

            }
        }
    }
}
@media only screen and(min-width:1200px){
    section.section.projects{
        div.section__content{
            gap: 3rem;
            div.card{
                div.card__img{
                    height: 200px;
                }
            }
            div.card:nth-child(even){
                grid-column: 1/4;
                }
            div.card:nth-child(odd){
                grid-column: 4/7;
            }
        }
    }
}
