@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 16ch;
  }
}
@keyframes typingTitle {
  0% {
    width: 0;
    visibility: visible;
  }
  100% {
    width: 13ch;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.centerItems, #menu div.menu__icon, #menu div.menu__logo {
  display: grid;
  place-items: center;
}

#menu {
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 60px;
  min-width: 360px;
  max-width: 1400px;
  padding: 0 27px;
  transition: all 0.5s linear;
  text-transform: uppercase;
}

#menu div.menu__logo {
  font-size: 8px;
  letter-spacing: 5px;
}
#menu div.menu__logo a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}
#menu div.menu__logo a span.highLetter {
  display: inline-block;
  margin: 0 5px;
  color: #fec2eb;
}

#menu div.menu__icon {
  width: 50px;
}
#menu div.menu__icon i#iconOpenMenu {
  color: rgba(255, 255, 255, 0.9);
}

#menu div#menu__container {
  position: absolute;
  right: -100%;
  top: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 30px;
  font-size: 18px;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 2px;
  font-weight: 800;
  transition: all 0.3s linear;
  background-color: #35283c;
}
#menu div#menu__container i#iconCloseMenu {
  color: rgba(255, 255, 255, 0.9);
  align-self: flex-end;
}

#menu div#menu__container > ul {
  list-style-type: none;
  margin-top: 100px;
  cursor: pointer;
}
#menu div#menu__container > ul li {
  margin: 15px 0;
}
#menu div#menu__container > ul li a {
  color: inherit;
  text-decoration: none;
}

.menuScrollDown {
  transform: translateY(-60px);
}

.animationRotate {
  animation: rotate 2s 3s;
}

@media only screen and (min-width: 1024px) {
  #menu div.menu__icon {
    display: none;
  }

  #menu div.menu__logo {
    font-size: 13px;
  }

  #menu div#menu__container {
    left: 0;
    position: initial;
    flex-direction: row;
    width: auto;
    height: 100%;
    font-size: 13px;
    letter-spacing: 5px;
    font-weight: 400;
    background-color: transparent;
  }
  #menu div#menu__container i#iconCloseMenu {
    display: none;
  }

  #menu div#menu__container > ul {
    margin: 0 1rem;
  }
  #menu div#menu__container > ul li {
    margin: 0 5px;
    display: inline;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* html {
  font-size: 10px;
}

body {
  font-family: "open sans", sans-serif;
  overflow-x: hidden;
  background-color: #35283c;
}

div.banner {
  display: flex;
  flex-direction: column-reverse;
  padding: 0 20px;
  min-width: 360px;
  height: 100vh;
  background-color: #35283c;
}
div.banner div.banner__content {
  margin-bottom: 60px;
  background-color: rgba(224, 224, 224, 0.479);
}
div.banner div.banner__content h1.title {
  overflow: hidden;
  width: 0;
  display: block;
  white-space: nowrap;
  letter-spacing: 2px;
  line-height: 57px;
  font-size: 30px;
  font-weight: bold;
  color: #c22085;
  text-transform: uppercase;
  font-family: inconsolata, monospace;
  animation: typing 1s steps(16) forwards;
}
div.banner div.banner__content h1.title span.high {
  overflow: hidden;
  width: 0;
  display: block;
  white-space: nowrap;
  letter-spacing: 2px;
  line-height: 57px;
  font-size: 30px;
  font-weight: bold;
  color: #fec2eb;
  text-transform: uppercase;
  font-family: inconsolata, monospace;
  animation: typingTitle 0.6s 1s steps(13) forwards;
}
div.banner div.banner__content span.titleEnd {
  overflow: hidden;
  width: 0;
  display: block;
  white-space: nowrap;
  letter-spacing: 2px;
  line-height: 57px;
  font-size: 30px;
  font-weight: bold;
  color: #c22085;
  text-transform: uppercase;
  font-family: inconsolata, monospace;
  animation: typing 0.6s 1.6s steps(16) forwards;
}

.section {
  min-width: 360px;
  padding: 22px 20px;
  border-top: 2px solid #f12727;
}
.section div.section__content {
  background-color: rgba(128, 255, 0, 0.459);
  /* pseudo elements */
}
.section div.section__content h1.section__head {
  font-family: inconsolata, monospace;
  font-size: 21px;
  line-height: 1;
  font-weight: 400;
}
.section div.section__content h1.section__head::before {
  content: "<";
}
.section div.section__content h1.section__head::after {
  content: ">";
}
.section div.section__content div.section__end::after {
  content: "</" attr(data-text) ">";
  font-family: inconsolata, monospace;
  font-size: 1.5rem;
  line-height: 0.8rem;
  font-weight: 400;
}

/*  end */
section.section.projects div.section__content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
  background-color: transparent;
}
section.section.projects div.section__content h1.section__head {
  grid-column: 1/-1;
  padding: 30px 0;
  color: #2d9687;
}
section.section.projects div.section__content div.section__end {
  grid-column: 1/-1;
  padding: 30px 0;
  color: #2d9687;
}
section.section.projects div.section__content div.card {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  min-height: 500px;
  border-radius: 10px;
  padding: 10px;
  color: white;
  border: 1px solid #2d9687;
}
section.section.projects div.section__content div.card div.card__img {
  width: 100%;
  z-index: 50;
  height: 200px;
  overflow-y: hidden;
  border-radius: 10px;
}
section.section.projects div.section__content div.card div.card__img img {
  width: 100%;
  opacity: 0.8;
}
section.section.projects div.section__content div.card h2 {
  font-family: inconsolata, monospace;
  font-weight: 400;
  font-size: 20px;
  padding: 10px;
}
section.section.projects div.section__content div.card p {
  padding: 10px;
}
section.section.projects div.section__content div.card span.card__anchors {
  padding: 10px;
}
section.section.projects div.section__content div.card span.card__anchors a {
  color: #2d9687;
  cursor: pointer;
  margin-right: 24px;
}
section.section.projects div.section__content div.card div.card__iconsTech {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
section.section.projects div.section__content div.card div.card__iconsTech span.icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  background-color: #2d9687;
}

.stylesLabel::after {
  content: attr(data-text);
}

footer {
  padding: 0 20px;
}

@media only screen and (min-width: 400px) {
  div.banner {
    padding: 0 30px;
  }

  section.section {
    padding: 0;
  }
  section.section div.section__content {
    max-width: 85%;
    margin: 0 auto;
  }

  footer {
    padding: 0;
    max-width: 85%;
    margin: 0 auto;
  }

  section.section.projects div.section__content div.card {
    padding: 20px;
  }
}
@media only screen and (min-width: 600px) {
  div.banner {
    padding: 0 80px;
  }

  section.section div.section__content {
    max-width: 76%;
  }

  footer {
    max-width: 76%;
  }

  section.section.projects div.section__content div.card div.card__img {
    height: 250px;
  }
}
@media only screen and (min-width: 768px) {
  section.section.projects div.section__content div.card:nth-child(even) {
    grid-column: 1/5;
  }
  section.section.projects div.section__content div.card:nth-child(odd) {
    grid-column: 3/7;
  }
}
@media only screen and (min-width: 1024px) {
  section.section.projects div.section__content div.card:nth-child(even) {
    grid-column: 1/4;
  }
  section.section.projects div.section__content div.card:nth-child(odd) {
    grid-column: 4/7;
  }
}
@media only screen and (min-width: 1200px) {
  section.section.projects div.section__content {
    gap: 3rem;
  }
  section.section.projects div.section__content div.card div.card__img {
    height: 200px;
  }
  section.section.projects div.section__content div.card:nth-child(even) {
    grid-column: 1/4;
  }
  section.section.projects div.section__content div.card:nth-child(odd) {
    grid-column: 4/7;
  }
}

/*# sourceMappingURL=styles.css.map */
